/* Body and Layout */
html{
    scroll-behavior: smooth;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(mainpage_refs/breakfast1920.jpg) top center no-repeat; 

}
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box ;
}

.login-box {
    position: relative;
    width:  400px;
    height: 450px;
    background: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 3em;
    color: white;
    text-align: center;
}
.input-box {
    position: relative;
    width: 400px;
    margin:30px 0;
    border-bottom: 2px solid white;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%); 
    font-size: 1em;
    color:white;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input {
    width:100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
}

.input-box input:focus~label, .input-box input:valid~label {
    top: -5px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: white;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    margin-right:  3px;
}
button {
   width: 100%;
   height: 40px;
   background: rgba(255, 255, 255, 0.541);
   border: none;
   outline: none;
   border-radius: 40px;
   cursor: pointer;
   font-size: 1em; 
   color: black;
   font-weight: 500; 
}
.login-link, .register-link {
     font-size: 0.9em;
     color: white;
     text-align: center;
     margin: 25px 0 10px;
}
.login-link p a, .register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover, .register-link p a:hover {
    text-decoration: underline;
}

/* puns */
.message-box {
    flex: 1;
    max-width: 500px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #ebdacc;
    overflow-y: auto; 
    height: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.message-box div {
    margin: 10px 0;
    padding: 10px;
    border: 3px solid #e4b0836e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left-box {
    margin-right: 20px;
}

.right-box {
    margin-left: 20px;
}



/* 900px to 1023px */
@media (min-width: 900px) and (max-width: 1023px) {
    body {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .login-box, .register-box {
        max-width: 400px;
    }

    .message-box {
        max-width: 300px;
        height: 500px;
    }
}

/* 640px to 899px */
@media (min-width: 640px) and (max-width: 899px) {
    body {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .login-box, .register-box {
        max-width: 350px;
    }

    .message-box {
        max-width: 280px;
        height: 400px;
    }
}

/* <640px */
@media (max-width: 639px) {
    body {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .login-box, .register-box {
        max-width: 300px;
    }

    .message-box {
        max-width: 250px;
        height: 300px;
    }

    button {
        font-size: 14px;
        padding: 8px 12px;
    }
}